services:
  app:
    build: .
    environment:
      DISPLAY_WIDTH: "1600"
      DISPLAY_HEIGHT: "900"
      RDP_USERNAME: "user"
      RDP_PASSWORD: "password"
      RDP_HOST: "192.168.0.2"
    ports:
      - ${NOVNC_HOST:-127.0.0.1}:${NOVNC_PORT:-8080}:8080
